@font-face {
  font-family: 'nunito';
  src: url('../fonts/nunito/Nunito-Regular.ttf'); 
  src: local('Nunito Regular'), local('Nunito Regular'),
       url('../fonts/nunito/Nunito-Regular.ttf') format('truetype');
}